In [15]:
import pandas as pd
import random

In [66]:
data = pd.read_csv('dataFinal.csv')

In [67]:
data

        Électeur  Candidat 1  Candidat 2  Candidat 3  Candidat 4
0   Marie Dubois           2           3           1           4
1   Daniel Petit           2           4           1           3
2         Nicole           2           3           4           1
3       Stephane           2           4           1           3
4      Dominique           2           4           1           3
5        Corinne           1           3           4           2
6         Martin           2           4           1           3
7        Bernard           3           2           4           1
8         Thomas           2           3           1           4
9         Robert           4           2           1           3
10        Durand           3           4           1           2
11         Pippo           2           3           1           4
12         Simon           2           4           1           3
13        Michel           4           2           1           3
14         Pinco           1           2           4           3
15       Pallino           1           2           4           3
16         David           4           2           1           3
17           Qui           1           2           3           4
18           Quo           4           3           1           2
19           Qua           2           3           4           1
20        Gaston           3           2           1           4
21         Pluto           4           3           1           2
22        Donald           3           2           1           4
23        Silvio           1           3           4           2
24         Peppe           4           1           2           3
25          Gigi           4           3           1           2
26        Ciccio           4           3           1           2
27       Laurent           3           2           4           1
28        Girard           3           1           4           2
29          Axel           3           1           2           4

In [68]:
candidates = data.columns

Vote à la majorité simple

In [69]:
def MajorityRule(cand1,cand2):
  somm_cand1=0
  somm_cand2=0
  for i in range((len(data))):
    if data.iloc[i][cand1] > data.iloc[i][cand2] :
      somm_cand1 +=1
    else:
      somm_cand2 +=1
  if somm_cand1 > somm_cand2:
    print('Candidat élu :',cand1)
    return
  if somm_cand1 < somm_cand2:
    print('Candidat élu :',cand2)
  if somm_cand1 == somm_cand2:
    print('Égalité')
    return
  return

In [70]:
MajorityRule('Candidat 1','Candidat 2')

Candidat élu : Candidat 2

VoteUnTour

In [71]:
def VoteUnTour():
  vote_final=[]
  equo=[]
  for j in range(1, len(candidates)):
    sum =0
    for vote in data[candidates[j]]:
        if vote == (len(candidates)-1):
           sum +=1
    vote_final.append((sum,candidates[j]))
  sort_cand=[]
  sort_cand= sorted(vote_final, reverse=True)
  if sort_cand[0][0] > sort_cand[1][0] :
    return print('Candidat élu :', sort_cand[0][1])
  else :
    for j in range(0, len(candidates)-1):
      if sort_cand[j][0]==sort_cand[0][0]:
        equo.append(sort_cand[j][1])
    print('Candidats ex aequo: ',equo)
    print('Candidat élu au sort :',random.choice(equo))        
    return
  return

In [72]:
VoteUnTour()

Candidat élu : Candidat 3

Élection à deux tours

In [73]:
def VoteDeuxTour():
  vote_final=[]
  for j in range(1, len(candidates)):
    sum =0
    for vote in data[candidates[j]]:
        if vote == (len(candidates)-1):
           sum +=1
    vote_final.append((sum,candidates[j]))
  total=0
  for i in range(len(vote_final)):
    total+=vote_final[i][0]
  if max(vote_final)[0] > (total/2):
   print('Candidat élu au premier tour:', max(vote_final)[1])
  else:
    sort_cand=[]
    sort_cand= sorted(vote_final, reverse=True)
    sort_cand=sort_cand[0:2]
    cand_final=[]
    cand_final.append(sort_cand[0][1])
    cand_final.append(sort_cand[1][1])
    #print("Candidats au deuxième tour:",cand_final)
    vote_deux=[]
    vote1=0
    vote2=0
    for i in range(len(data)):
      if data.iloc [i] [cand_final[0]]>data.iloc [i] [cand_final[1]]:
        vote1 +=1
      else:
        vote2 +=1
    if vote1 > vote2:
      print('Candidat élu au deuxième tour:', cand_final[0])
    else :
      print('Candidat élu au deuxième tour:', cand_final[1])               
  return

In [74]:
VoteDeuxTour()

Candidat élu au deuxième tour: Candidat 1

VoteCondorcet

In [75]:
def Majority(cand1,cand2):
  somm_cand1=0
  somm_cand2=0
  for i in range((len(data))):
    if data.iloc[i][cand1] > data.iloc[i][cand2] :
      somm_cand1 +=1
    if data.iloc[i][cand1] < data.iloc[i][cand2] :
      somm_cand2 +=1
    if data.iloc[i][cand1] == data.iloc[i][cand2] :
      somm_cand1 +=1
      somm_cand2 +=1
  if somm_cand1 > somm_cand2:
    return cand1
  if somm_cand1 < somm_cand2:
    return cand2
  if somm_cand1 == somm_cand2:
    return None
  return

In [76]:
def VoteCondorcet():
    for i in  range(1, len(candidates)):
      j=1 
      count=0 
      while ( j < len(candidates)):
        cand1=candidates[i]
        cand2=candidates[j]
        if cand1==cand2:
          j+=1
        else:  
          #print('cand1:',cand1)
          #print('cand2:',cand2)
          if Majority(cand1, cand2)==cand1 :
            j=j+1
            count +=1
            #print(count)
            #print('Win cand1', cand1)
            champion = cand1
            if count==len(candidates)-2:
                return print('Candidat élu avec Condorcet:', champion)          
            continue
          if Majority(cand1, cand2)==cand2:
            #print('Win cand2', cand2)
            champion = cand2
            break
          if Majority(cand1, cand2)==None:
            j+=1
            champion='Aucun candidat'
            #print('Parité')    
    return print('Candidat élu avec Condorcet:', champion)

In [77]:
VoteCondorcet()

Candidat élu avec Condorcet: Candidat 2

VoteBorda

In [78]:
def VoteBorda():
  cand=[]
  for j in range(1, len(candidates)):
    iter=[]
    tot=0
    for vote in data[candidates[j]]:
      iter.append(vote)
    cand.append((sum(iter),candidates[j]))
  sort_cand=[]
  sort_cand= sorted(cand, reverse=True) 
  if sort_cand[0][0] == sort_cand[1][0]:
     return print('Égalité, pas de candidat élu avec Borda') 
  return print('Candidat élu avec Borda:', max(cand)[1])

In [79]:
VoteBorda()

Candidat élu avec Borda: Candidat 4

SuperVote

In [80]:
def SuperVote():
  VoteUnTour()
  VoteDeuxTour()
  VoteCondorcet()
  VoteBorda()
  return

In [81]:
SuperVote()

Candidat élu : Candidat 3
Candidat élu au deuxième tour: Candidat 1
Candidat élu avec Condorcet: Candidat 2
Candidat élu avec Borda: Candidat 4